html body {
    background-color: #000;
}

body {
    display: column;
    flex-flow: row wrap;
    justify-content: center;
}

.img1:hover {
    opacity: 0;
    transition: .5s ease;
}

.img2:hover {
    opacity: 0;
    transition: .5s ease;
}

.img3:hover {
    opacity: 0;
    transition: .5s ease;
}

.div1:hover {
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 50px;
    transition: .5s
}

.div2:hover {
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 50px;
    transition: .5s
}

.div3:hover {
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 50px;
    transition: .5s
}

.div1 {
    width: 465px;
    height: 697.5px;
    padding-right: 10px;
    padding-left: 10px;
    position: relative;
    color: transparent;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 50px;
}

.div2 {
    width: 465px;
    height: 697.5px;
    padding-right: 10px;
    padding-left: 10px;
    position: relative;
    color: transparent;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 50px;
}

.div3 {
    width: 465px;
    height: 697.5px;
    padding-right: 10px;
    padding-left: 10px;
    position: relative;
    color: transparent;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 50px;
}

.divh {
    color: antiquewhite;
    align-content: center;
}

.centered1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.centered2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.centered3 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}